# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
# production
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Add
instance/
venv/
uploads/
test.py

# dependencies
node_modules/
/.pnp
.pnp.js
# testing
coverage/
bu/
